body{
    background: linear-gradient(135deg, #38f1a8 0%, #0c9de8 100%);
;   
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.fa-magnifying-glass:hover {
    color: #00d1ff; /* jo color chaho rakh sakte ho */
    transform: scale(1.1); /* (optional) halka zoom effect */
}

